{% extends "layout.html" %} {% block body %}
<div class="course">
    <div class="coursetitle">
        MathForEveryone
    </div>
    <div id="xxx" class="gradebar">
        <p class="pp"> For more videos, sign up/login!</p>
    </div>
    <div class="coursepage" id="xxx">
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                6th grade example
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                7th grade example
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                8th grade example
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                9th grade example
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                10th grade example
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                11th grade example
            </div>
        </div>
    </div>
</div>
{% endblock %}