{% extends "loglayout.html" %} {% block body %}
<div class="course">
    <div class="coursetitle">
        MathForEveryone: 11ci sinif
    </div>
    <div id="xxx" class="gradebar">
        <form method="post" action="six">
            <button class="button-59" role="button">6ci sinif</button>
        </form>
        <form method="post" action="seven">
            <button class="button-59" role="button">7ci sinif</button>
        </form>
        <form method="post" action="eight">
            <button class="button-59" role="button">8ci sinif</button>
        </form>
        <form method="post" action="nine">
            <button class="button-59" role="button">9cu sinif</button>
        </form>
        <form method="post" action="ten">
            <button class="button-59" role="button">10cu sinif</button>
        </form>
        <form method="post" action="eleven">
            <button class="button-59" role="button">11ci sinif</button>
        </form>
    </div>
    <div class="coursepage" id="xxx">
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Törəmə və tətbiqləri
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                İntegral və tətbiqləri
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Ədədi ardıcıllıqlar və limitlər
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Məntiq və sübut üsulları
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Vektorlar və analitik həndəsə
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Qrafik təhlil və modelləşdirmə
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Ehtimal və statistik təhlil
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                İqtisadi və texniki tətbiqlər
            </div>
        </div>
    </div>
</div>
{% endblock %}