{% extends "layout.html" %} {% block body %}
<div class="course">
    <div class="coursetitle">
        MathForEveryone
    </div>
    <div id="xxx" class="gradebar">
        <p class="pp"> For more videos, sign up/login!</p>
    </div>
    <div class="coursepage" id="xxx">
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                6cı sinif: Adi və onluq kəsrlər
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                7ci sinif: Ədədi ardıcıllıqlar
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                8ci sinif: Kvadrat tənliklər
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                9cu sinif: İrrasional ədədlər
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                10cu sinif: Kompleks ədədlər
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                11ci sinif: Törəmə və tətbiqləri
            </div>
        </div>
    </div>
</div>
{% endblock %}