{% extends "loglayout.html" %} {% block body %}
<div class="home">
    <div class="kms">
        <div class="h1">Welcome to ApricusEdu </div>
        <div class="h2">A world where learning is exciting!</div>
        <div class="relbutdiv1">
            <a style="color: black; background-color: transparent; text-decoration: none;" class="button-23" href="#explore">Explore</a>
        </div>
    </div>
    <div>
        <img src="static/study0.jpg" alt="study" class="homephoto">
    </div>
    <div id="explore">
        <div class="friend" id="dd"> <img src="static/happy.jpg" alt="happy" width="100%"> </div>
        <div class="friend" id="tt"> We are team of enthusiasts and olympians who want to make education more accesible. My borther is computer science olympian, while I am math olympian. We decided to come up with a website that offers absoultly free courses. We targeted mathematics
            as our first free course. Enjoy!</div>
        <div class="friend" id="tt"> Our main goal was to convey knowledge in a most fun and interactive way possible. We tried to add olympiad elements and share with you the application of taught concepts in the future career, besides giving lectures on basic school curriclum.
            We expect to make other courses in a near future. But, for now, enjoy the current courses!</div>
        <div class="friend" id="dd"><img src="static/group.jpg" alt="happy" width="100%"></div>
    </div>
    {% endblock %}