{% extends "loglayout.html" %} {% block body %}
<div class="course">
    <div class="coursetitle">
        MathForEveryone: 6ci sinif
    </div>
    <div id="xxx" class="gradebar">
        <form method="post" action="six">
            <button class="button-59" role="button">6ci sinif</button>
        </form>
        <form method="post" action="seven">
            <button class="button-59" role="button">7ci sinif</button>
        </form>
        <form method="post" action="eight">
            <button class="button-59" role="button">8ci sinif</button>
        </form>
        <form method="post" action="nine">
            <button class="button-59" role="button">9cu sinif</button>
        </form>
        <form method="post" action="ten">
            <button class="button-59" role="button">10cu sinif</button>
        </form>
        <form method="post" action="eleven">
            <button class="button-59" role="button">11ci sinif</button>
        </form>
    </div>
    <div class="coursepage" id="xxx">
        <div class="courseramka">
            <div>
                <a href="https://youtu.be/BQDliVSFlQU?si=NO7vMGR1ynNApt7S"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Adi və onluq kəsrlər
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://youtu.be/lHNFLuTM2uE?si=kJH9yzz708VN__vy"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Nisbət. Tənasüb. Faiz
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://youtu.be/tLToO7rh1iU?si=W0sazTrdAbQ10ArW"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Tam ədədlər
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://www.youtube.com/watch?v=mfDuRfkwFz8&ab_channel=Pe%C5%9F%C9%99T%C9%99hsili%C3%BCzr%C9%99D%C3%B6vl%C9%99tAgentliyi"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Riyazi ifadə. Tənlik. Bərabərsizlik
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://youtu.be/uIIfFhXFm1g?si=4YuTD_YR_8M0zrj7"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Düzbucaqlı koordinat sistemi
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://youtu.be/VfZ8kmRQtKE?si=t-Dw8EuF3tlE4o22"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Bucaq. Çevrə. Simmetriya
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://youtu.be/JDWwF2sx2zA?si=o5DafLBEpJcEZ_fJ"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Sahə Vahidləri
            </div>
        </div>
        <div class="courseramka">
            <div>
                <a href="https://youtu.be/Ah3ffecrIBY?si=TXDPoYm5nQyaoRvq"> <img class="coursephoto" src="static/Black.jpeg" alt="Course"></a>
            </div>
            <div class="coursetext">
                Statistika. Ehtimal
            </div>
        </div>
    </div>
</div>
{% endblock %}