{% extends "loglayout.html" %} {% block body %}
<div class="staff">
    <div class="ramka">
        <div class="nn">
            <img class="photo" src="static/Javanshir.jpeg" alt="Javanshir">
        </div>
        <div class="nn">
            <div class="title">
                <h2> Javanshir Ismayilzada</h2>
            </div>
            <div class="metn">
                I'm Javanshir and I am 15 years old. I'm a 9th grade student. I like coding and currently am a competitive programmer. As I am doing competitive programming for almost 1 year I am still learning. I also enjoy solving real life problems, coming up with
                rational decisions for a hypothetical critical situation. I usually analyse things that happen to me and people around and improve with it. I also try to be more healthy by eating more nutritional food and periodically exercising. I mainly
                was responsible for creating the website, especially frontend of it.
            </div>
        </div>
    </div>
    <div class="ramka">
        <div class="nn">
            <img class="photo" src="static/Javad.jpeg" alt="Javad">
        </div>
        <div class="nn">
            <div class="title">
                <h2> Javad Ismayilzada</h2>
            </div>
            <div class="metn">
                Hello everyone, greetings from South Korea! My name is Javad Ismayilzada, and I am currently freshman at Korean Advanced Institute of Science and Technologies (KAIST). I plan to double major on Mathematics and Computer Science. On my free time, I like
                watching some movie with family, or hang out with friends in the city. My favourite sports are swimming and tennis. The fun fact about me is that I can easily lose track of time when dancing to spantenous music. Music enriches my spirit
                and allows me to sense the world. In this project, I was responsible for making website, especially the backend.
            </div>
        </div>
    </div>
</div>
{% endblock %}