{% extends "loglayout.html" %} {% block body %}
<div class="staff">
    <div class="ramka">
        <div class="nn">
            <img class="photo" src="static/Javanshir.jpeg" alt="Javanshir">
        </div>
        <div class="nn">
            <div class="title">
                <h2> Javanshir Ismayilzada</h2>
            </div>
            <div class="metn">
                Hey! I'm Javanshir Ismayilzada, a 15-year-old 9th grade student from Azerbaijan. I've been doing competitive programming for over a year and have achieved notable results in both national and international informatics olympiads. For this project, I contributed mainly to the website's frontend, bringing the platform’s design and interactivity to life. I plan to continue growing in both computer science and problem solving and aim to study at one of Europe’s top universities.
            </div>
        </div>
    </div>
    <div class="ramka">
        <div class="nn">
            <img class="photo" src="static/Javad.jpeg" alt="Javad">
        </div>
        <div class="nn">
            <div class="title">
                <h2> Javad Ismayilzada</h2>
            </div>
            <div class="metn">
                Greetings from Korea! I'm Javad Ismayilzada, a freshman studying Computer Science and Mathematics at KAIST. In high school, I was active in math olympiads and represented Azerbaijan in various competitions. As a long-time member of the national team, I consistently earned top placements and gold medals in regional and national contests. Internationally, I took part in the IMO, BMO, and others, receiving multiple awards and certificates. This platform is a personal project where I developed the entire backend and most of the frontend.</div>
        </div>
    </div>
</div>
{% endblock %}